@media print {
    aside,
    header,
    nav,
    button,
    .fi-breadcrumbs,
    .filament-main-topbar,
    .fi-page-actions {
        display: none !important;
    }
    .no-print {
        display: none !important;
    }
    main {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
.container {
    width: 100%
}

@media (min-width:480px) {
    .container {
        max-width: 480px
    }
}

@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

@media (min-width:1536px) {
    .container {
        max-width: 1536px
    }
}
